<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/nikopericova/"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="footer-copyright">
    This website was made with <i class="fa fa-heart"></i> by Alex
  </div>
</div>
