<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1514055334166-22978d723b71?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=74083720258168d76878fbef3c9cfd6e&auto=format&fit=crop&w=1650&q=80');">
  <div class="banner-content">
    <h1>Nikolina Peric</h1>
    <!-- <p>Writer</p>
    <a class="btn btn-primary btn-lg">Contact</a> -->
  </div>
</div>
